#mainNav {
    background-color: rgb(255, 191, 0);
}

.flex-container-sbs {
    display: flex;
}

.flex-child-sbs {
    flex: 1;
}

.flex-child-sbs:first-child {
    margin-right: 20px;
}

.not-brand {
    margin-top: 10px;
    font-weight: 600 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    font-size: 20px;
    color: rgb(22, 60, 156);
}

.not-brand:hover {
    background-color: rgb(246, 198, 114);
}

.search-dudes {
    margin-top: 12px;
}